body {
    background-image: url('sfondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Barnett", sans-serif;
}

.container {
    text-align: center;
    width: 33.33%;
}

#animatedText {
    font-size: 70px;
	color: red;
    animation: shiningText 1s infinite alternate;
}

@keyframes shiningText {
    0% {
        opacity: 0.6;
        text-shadow: none;
    }
    100% {
        opacity: 1;
        text-shadow: 0 0 5px rgba(255, 0, 0, 0.9);
    }
}
