@media screen and (max-width: 768px) {
    /* Stili per schermi con larghezza massima di 768px */
}

.snowflake {
    position: absolute;
    width: -400 px;
    height: -400px;
}

@keyframes snowfall {
    0% {
        transform: translateY(0) rotate(0deg);
    }
    100% {
        transform: translateY(100vh) rotate(360deg);
    }


}
