#snow-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; /* Assicura che sia sopra l'immagine */
}



.snowflake {
    position: absolute;
    width: -400 px;
    height: -400px;
}

@keyframes snowfall {
    0% {
        transform: translateY(0) rotate(0deg);
    }
    100% {
        transform: translateY(100vh) rotate(360deg);
    }
}

/* Stile per il video e la miniatura */
video {
    width: 320px;
    height: 240px;
}

img#fotoThumbnail {
    width: 320px;
    height: 240px;
}

