@keyframes rotateVinyl {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
#link0 {
    animation: rotateVinyl 10s linear infinite;
    transform-origin: center center;
}




.container {
    position: absolute;
    left: 230px;
    top: -90px;
    margin-top: 80px;
}

input[type="text"] {
    border: none;
    border-radius: 50px;
    padding: 0px;
    background-color: #74cdd0;
    color: #fff;
    font-size: 16px;
	font-weight: bold;
    outline: none;
    width: 500px;
    height: 50px;
}

input[type="text"]::placeholder {
    color: #fff;
	font-weight: bold;
	
}
